{% extends 'base.html' %}
{% block content %}

{% if session['user'] %}
<a href="{{ url_for('logout') }}">Log Out</a>
{% endif %}

{% if movie %}
<h1>{{movie.title}}</h1>
<h2>{{ released_at}}</h2>
<h2>{{ movie.imdb_url }}</h2>
<ul>
<h3>Scores</h3>
{% for rating in ratings %}
<li><a href="/rating_detail/{{rating.rating_id}}">{{rating.score}}</a></li>
{% endfor %}
</ul>
{% endif %}

<form action="/add-rating" method="POST">
	Rating: <select name="ratingform">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<input type="submit" name="ratingsubmit">
</form>

{% endblock %}